body {
    background-color: grey;
    color: whitesmoke;
    padding: 30px;
}
ol {
    border: 1px solid black;
    padding: 20px;
}
#title {
    color:black;
}
.class {
    color:blue;
}
h2 {
    color:black;
}